body * {
    font-family: Futura Bk BT;
}
header {
    background-color: rgb(98, 182, 154);
            padding: 10px 5px 5px 15px;
            color: white;
            margin-bottom: 10px;
}


/* navigation */

nav {
    margin: auto;
    width: max-content;
    font-size: 10px;
}
    
.nav-menu {
    list-style: none;
    font-weight: bold;
    margin-bottom: 15px;
    float: left; 
    width: 100%;
    
}

nav li {
    border-left: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
}

.nav-menu li {
    float: left;
    margin-right: 10px;
    position: relative;
}
.nav-menu a {
    display: block;
    padding: 5px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
}
.nav-menu a:hover {
    color: #fff;
    background-color: #6b0c36;
    text-decoration: underline;
}

/*--- DROPDOWN ---*/
.nav-menu ul {
    background-color: #fff;
    background: rgba(255,255,255,0); 
    list-style: none;
    position: absolute;
    left: -9999px; 
}
.nav-menu ul li {
    padding-top: 1px;
    float: none;
}
.nav-menu ul a {
    white-space: nowrap; 
}
.nav-menu li:hover ul { 
    left: 0; 
}
.nav-menu li:hover a { 
    background-color: #6b0c36;
    text-decoration: underline;
}
.nav-menu li:hover ul a { 
    text-decoration: none;
}
.nav-menu li:hover ul li a:hover { 
    background-color: #333;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, 200px auto);
    row-gap: 10px;
    column-gap: 20px;
}

nav {
    grid-column: span 3;
}











